<% include ./partials/header %>

<div class="container">
    <div class="row">
    <h2 style="text-align:center">Signup!!</h2>
    <div style="width:25%; margin:25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password2" placeholder="retypepassword">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Signup</button>
                </div>
            </form>
</div>
    </div>
        </div>
<% include ./partials/footer %>