<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp </h1>
            <p>Pick whatever you want and enjoy the weekend</p>
            <p>
            <a class="btn btn-primary btn btn-large"href="/campgrounds/new">Add new Camp attraction</a>
            </p>
        </div>
    </header>
    

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(camp){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= camp.image %>" style="min-height:100px;height:200px;">
    <div class="caption" style="text-align:center" >
          <h4><%= camp.name %></h4>  
    </div>
    <p>
     <a href="/campgrounds/<%=camp._id %>" class="btn btn-primary">More Info</a>   
    </p>
    
    </div>
    </div>
    <% }); %>
</div>
    </div>
    

<% include ../partials/footer %>
