.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding: 0;
}
.img-responsive {display:block; width:auto; height: 100px; }

.thumbnail .caption-full{
    padding: 9px;
}

.btn btn-primary {
    text-align: center;
}

#delete-form{
    display: inline;
}